---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: santiagosayshey/profilarr
          tag: latest
        env:
          TZ: Europe/Vienna
          PUID: "1000"
          PGID: "1000"

defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 6868

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - host: profilarr.wallstreet30.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - profilarr.wallstreet30.cc
        secretName: profilarr-tls

persistence:
  config:
    enabled: true
    size: 5Gi
    accessMode: "ReadWriteOnce"
