---
extends: default

ignore: |
  hosts/**/secrets.yaml
  flux/clusters/homelab/flux-system/gotk-components.yaml
  flux/clusters/homelab/flux-system/gotk-sync.yaml

rules:
  line-length: false
  truthy:
    ignore: |
      .github
  comments:
    ignore: |
      .github
