---
extends: default

ignore: |
  flux/**/*.enc.yaml
  flux/clusters/homelab/flux-system/gotk-components.yaml
  flux/clusters/homelab/flux-system/gotk-sync.yaml
  flux/clusters/homelab/flux-system/kustomization.yaml
  modules/aspects/secrets.yaml

rules:
  line-length: false
  truthy:
    ignore: |
      .github
  comments:
    ignore: |
      .github
