[tools]
sops = "3.11.0"
doggo = "1.1.2"
dyff = "1.10.2"
flux2 = "2.7.5"
helm = "3.20.0"
"npm:@immich/cli" = "2.5.2"
"github:coreos/butane" = "0.25.1"
"github:coreos/ignition" = { version = "2.24.0", exe = "ignition-validate" }

yamllint = "1.38.0"
actionlint = "1.7.10"
python = "3.14"
uv = "0.9.28"
"pipx:flux-local" = "8.1.0"

[env]
IMMICH_INSTANCE_URL="https://immich.wallstreet30.cc/api"

[tasks.flux-sync]
run = """
flux suspend source git flux-system
sleep 5
flux resume source git flux-system
"""

[tasks.flux-test]
run = "flux-local test --enable-helm -v"

[tasks.flux-diff]
run = """
DIFF="dyff between --omit-header --color on" \
flux-local diff hr -A
"""
