---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: docker.io/homeassistant/home-assistant
          tag: "2025.12.1"
        env:
          TZ: Europe/Vienna

defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 8123

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-production
      nginx.ingress.kubernetes.io/proxy-body-size: 50m
    hosts:
      - host: home-assistant.wallstreet30.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - home-assistant.wallstreet30.cc
        secretName: home-assistant-tls

persistence:
  config:
    enabled: true
    size: 5Gi
    accessMode: "ReadWriteOnce"
    type: persistentVolumeClaim
