---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    replicas: null
    labels:
      requires-nfs: "true"
    containers:
      main:
        image:
          repository: docker.io/jellyfin/jellyfin
          tag: 10.11.4
        env:
          TZ: Europe/Vienna

defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 8096

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - host: jellyfin.wallstreet30.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - jellyfin.wallstreet30.cc
        secretName: jellyfin-tls

persistence:
  config:
    enabled: true
    size: 50Gi
    accessMode: "ReadWriteOnce"
  media:
    enabled: true
    type: nfs
    server: 192.168.178.100
    path: /media
    globalMounts:
      - path: /media
        readOnly: false
  series:
    enabled: true
    type: nfs
    server: 192.168.178.100
    path: /series
    globalMounts:
      - path: /series
        readOnly: false
