---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: docker.io/koenkk/zigbee2mqtt
          tag: 2.8.0
        env:
          TZ: Europe/Vienna
          ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: zigbee2mqtt
          ZIGBEE2MQTT_CONFIG_MQTT_SERVER: mqtt://mqtt.services.svc.cluster.local
          ZIGBEE2MQTT_CONFIG_SERIAL_PORT: /dev/ttyACM0
          ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: deconz
        securityContext:
          privileged: true

defaultPodOptions:
  nodeSelector:
    kubernetes.io/hostname: boltzmann
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  main:
    enabled: true
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - host: zigbee2mqtt.wallstreet30.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - zigbee2mqtt.wallstreet30.cc
        secretName: zigbee2mqtt-tls

persistence:
  config:
    size: 2Gi
    accessMode: "ReadWriteOnce"
    enabled: true
    type: persistentVolumeClaim
    globalMounts:
      - path: /app/data
        readOnly: false
