---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/karakeep-app/karakeep
          tag: 0.30.0
        env:
          TZ: Europe/Vienna
          # https://docs.karakeep.app/configuration
          NEXTAUTH_URL: "http://localhost:3000"
          NEXTAUTH_SECRET: "12345"
          DATA_DIR: "/data"
          MEILI_ADDR: "http://0.0.0.0:7700"
          MEILI_MASTER_KEY:
            valueFrom:
              secretKeyRef:
                name: meili-master-key
                key: key
    initContainers:
      search:
        restartPolicy: Always
        image:
          repository: getmeili/meilisearch
          tag: v1.33.1
        env:
          TZ: Europe/Vienna
          MEILI_NO_ANALYTICS: "true"
          MEILI_ENV: "production"
          MEILI_MASTER_KEY:
            valueFrom:
              secretKeyRef:
                name: meili-master-key
                key: key

defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 3000

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-production
      nginx.ingress.kubernetes.io/proxy-body-size: 50m
    hosts:
      - host: karakeep.wallstreet30.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - karakeep.wallstreet30.cc
        secretName: karakeep-tls

persistence:
  config:
    enabled: true
    size: 5Gi
    accessMode: "ReadWriteOnce"
    type: persistentVolumeClaim
    advancedMounts:
      main:
        main:
          - path: /data
            readOnly: false
