---
name: lint
on:
  - pull_request
env:
  MISE_GITHUB_TOKEN: ${{ github.token }}
jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install mise-en-place
        run: |
          curl https://mise.run | sh
      - name: Install yamllint
        run: |
          mise install -y yamllint
      - name: Run yamllint
        shell: bash
        run: mise x -- yamllint .
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install mise-en-place
        run: |
          curl https://mise.run | sh
      - name: Install actionlint
        run: |
          mise install -y actionlint
      - name: Run actionlint
        shell: bash
        run: mise x -- actionlint -shellcheck=
