---
name: test
on:
  - pull_request
jobs:
  flux-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install mise-en-place
        run: |
          curl https://mise.run | sh
      - name: Install deps
        env:
          MISE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mise install -y flux2 uv "pipx:flux-local"
      - name: Run flux-local test
        shell: bash
        run: mise x -- flux-local test --enable-helm -v
